



<div class="box"> 
  <button class="key" (click)="addQueryParams({duration: 1})">1 </button>
  <button class="key" (click)="addQueryParams({duration: 2})">2 </button>
  <button class="key" (click)="addQueryParams({duration: 3})">3 </button>
  <button class="key" (click)="addQueryParams({duration: 4})">4 </button>
  <button class="key" (click)="addQueryParams({duration: 5})">5 </button>
  <button class="key" (click)="addQueryParams({duration: 6})">6 </button>
  <button class="key" (click)="addQueryParams({duration: 7})">7 </button>
  <button class="key" (click)="addQueryParams({duration: 8})">8 </button>
  <button class="key" (click)="addQueryParams({duration: 9})">9 </button>
  <button class="clear" (click)="clearQueryParams()">clear</button>
</div>

<div class="response">
  <div *ngIf="duration">{{waitingString}}</div>
  {{finishedString}}
</div>